*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(14, 17, 23, 0.9), rgba(0, 0, 0, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 45%;
    height: 45%;
    background-color: rgb(14, 17, 23);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.msg{
    color: #f5f5f5;
    width: 60%;
    margin-bottom: 15px;
}

.input{
    width: 60%;
    padding: 10px;
    font-weight: 500;
    font-size: medium;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: rgb(38, 39, 48); 
    color: whitesmoke;
    margin-bottom: 15px;
}

.input::placeholder{
    color: #ccc;
}

.btn{
    background-color: rgb(38, 39, 48); 
    color: whitesmoke;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
    width: 60%;
}

.btn:hover {
    background-color: rgb(29, 38, 57);
  }

.image{
    display: none;
    color: rgb(234, 32, 32);
}

@media (max-width:600px){
    .container{
        width: 80%;
    }

    .msg, .input, .btn{
        width: 80%;
    }

    .btn{
        font-size: 14px;
    }
}
